.ProblemContainer{
  padding: 24px;
}
.Wrapper {
  padding: 24px;
}

.ProblemCard {
  background: whitesmoke;
  float: left;
  width: 200px;
  height: 220px;
  padding: 2px;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.ProblemCard a {
  text-decoration: none;
}

.ProblemCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ProblemCard a span {
  position:relative;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;
}

table, th, td {
    border: 1px solid black;
}

button, input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}

button:disabled{
  background-color: grey;
}

.FormContainer{
  padding: 24px;
}

.ShowProblemContainer{
  padding: 24px;
}



.CircuitContainer{
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}

.Wire{
  background-image: url("./images/wire.png");
}


.Circuit{
  float:left;
  width: 100px;
  height: 100px;
  background-size: cover;
}

.Resistor{
  background-image: url("./images/resistor.png");
}

.Junction{
  background-image: url("./images/junction.png");
}


.LCorner{
  background-image: url("./images/corner.png");
}

.RCorner{
  background-image: url("./images/corner.png");
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.TopRCorner{
  background-image: url("./images/corner.png");
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.Battery{
  background-image: url("./images/battery.png");
}

.BottomRow{
   clear:both;
}

.MiddleRow{
   clear:both;
}

.MiddleRow > :first-child{
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.Loop > :first-child{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.Loop {
  clear:both;
}

.MiddleRow > div {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.Top{
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: “FlipV”;
}


